.CreateAnswer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    font-family: 'Arial', sans-serif;
    position: relative;
}

.leftRectangle {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 70%;
    background-color: #676F8D;
}

.answerFriends {
    position: absolute;
    top: 100px;
    left: 50px;
    color: #FFB17A;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 70px;
}

p {
    font-size: 15px;
    word-spacing: 2px;
    color: rgba(255, 255, 255, 0.495);
    margin-bottom: 30px;
}

.answerForm {
    background-color: #2c2e44;
    padding: 90px 43px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    position: absolute;
    right: 280px;
    z-index: 1;
}

.enroll,
.text {
    margin-bottom: 20px;
}

.Label {
    display: block;
    margin-bottom: 30px;
    color: #FFB17A;
    font-size: 20px;
}

.Input {
    width: 100%;
    margin-bottom: 50px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0;
    color: #333;
    font-size: 14px;
}

button {
    background-color: #FFB17A;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 14px;
}

button:hover {
    background-color: #FFB17A;
}

h6 {
    color: #fff;
    font-size: 16px;
    margin-bottom: 20px;
}