  .dashboard {
    display: flex;
    flex-direction: column;
  }
  .above{
    width: 100%;
    height: 650px;
    background-size: cover;
    background-position: center;
  }
  .above-content{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    z-index: 2;
    text-align: center;
  }
  .above-text{
    color: white;
    font-size: 40px;
    font-weight: bold;
  }
  .content {
    flex-grow: 1;
    padding-top: 0px; /* Adjust this value based on your header height */
    padding-bottom: 20px; /* Adjust this value based on your footer height */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .posts-list {
    padding: 20px;
    width: 1200px;
  }
  