<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   <!-- <link rel="stylesheet" href="header.css"> -->
   <script src="https://kit.fontawesome.com/ac30134673.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- this is html code -->

    <nav class="navbar">
        <div class="navbar__container">
        <a href="home" id="navbar__logo">JUITConnect</a>
        <div class="navbar__toggle" id="mobile-menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
        </div>
        <ul class="navbar__menu">
        <li class="navbar__item">
        <a href="discover" class="navbar__links" id="home-page">Discover</a>
        </li>
        <li class="navbar__item">
        <a href="about" class="navbar__links" id="category-page">About</a>
        </li>
        <li class="navbar__item">
          <a href="profile" class="navbar__links" id="category-page">Profile</a>
          </li>
       
        <!-- <li class="navbar__btn">
        <a href="#join" class="button" id="join-page">Join In Category</a>
        </li> -->
        </ul>
        </div>
        </nav>
        <div class="search-box">
          <div class="row">
          <input type="text" id="input-box" placeholder="Search anything" autocomplete="off">
          <button><i class="fa-solid fa-magnifying-glass"></i></button>
          </div>
         <div class="result-box">

        </div>
        </div>
<!-- this is footer code  -->
  <footer class="footer">
    <div class="waves">
      <div class="wave" id="wave1"></div>
      <div class="wave" id="wave2"></div>
      <div class="wave" id="wave3"></div>
      <div class="wave" id="wave4"></div>
    </div>

    <ul class="social-icon">
      <li class="social-icon__item"><a class="social-icon__link" href="#">
          <ion-icon name="logo-facebook"></ion-icon>
        </a></li>
      <li class="social-icon__item"><a class="social-icon__link" href="#">
          <ion-icon name="logo-twitter"></ion-icon>
        </a></li>
      <li class="social-icon__item"><a class="social-icon__link" href="#">
          <ion-icon name="logo-linkedin"></ion-icon>
        </a></li>
      <li class="social-icon__item"><a class="social-icon__link" href="#">
          <ion-icon name="logo-instagram"></ion-icon>
        </a></li>
    </ul>

    <ul class="menu">
      
      <li class="menu__item"><a class="menu__link" href="discover">Discover</a></li>
      <li class="menu__item"><a class="menu__link" href="teams">Team</a></li>
      <li class="menu__item"><a class="menu__link" href="contactus">Contact</a></li>

    </ul>
    <p>&copy;2023 JUITConnect | All Rights Reserved</p>
  </footer> 
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script src="js/home.js"></script>
</body>

</html>