/* StyledButton.css */
.button1 {
    background-color: #2D3250;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.button:hover {
    color: #FFB17A;
}
